:root{
    --logo-first-part-color: #2196F3;
    --logo-second-part-color: #000;
    --hero-color:#2F303A;
    --text-button-color:#FFF;
    --button-color:#2196F3;
    --featurestext-color:#757575;
    --abouttext-color: #757575;
    --fotertext-color:#2F303A;
    --gmail-phone-color:rgba(255, 255, 255, 0.60);
    --nav-color: #212121;
}

 body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
 }
 .container{
   width:1200px ;
   padding:0 15px;
   margin: 0 auto;
 }
 .header{
    flex-shrink: 0;
 }

 .logo-span{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--button-color);
 }
 .logo{
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      font-weight: 700;
      color: var(--logo-second-part-color);
 }
.logo-footer{
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   font-weight: 700;
   color: var(--text-button-color);
}
 .contacts-item{
   list-style-type: none;
 }
.navigation-item{
   display: inline;
}

.navigation-list{
   list-style-type: none;

 }

 .navigation-link{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.28px;
    color:var(--nav-color) ;
 }

 .navigation-link:hover,
  .navigation-link:focus{
    color: var(--logo-first-part-color) ;
  }
 .contacts-link{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.28px;
    color:var(--abouttext-color);
 }
.contacts-link:hover,
  .contacts-link:focus {
      color: var(--logo-first-part-color);
  }
  .hero-title{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--text-button-color);
    text-align: center;
    font-style: normal;
    width: 696px;
    text-align: center;
  }
  .work-title{
    font-size: 36px;
    font-weight: 700;
    color: var(--nav-color) ;
  }
  .hero{
   background-color:var(--hero-color);
  }
.hero-button{
   text-align: center;
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   color: var(--text-button-color);
   background-color:var(--button-color) ;
}
.features-list{
   list-style-type: none;
}
.work-list{
   list-style-type: none;
}
.team-list{
   list-style-type: none;
}
/* .team{
   list-style-type: none;
   width: 1600px;
   height: 648px;
   flex-shrink: 0;
} */
.footer{
   background-color: var(--fotertext-color);
}
.team-members-name{
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.48px;
   color: var(--nav-color);
}
.team-members-position{
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.48px;
   color: var(--abouttext-color);
}
.address-location-link{
   font-size: 14px;
   font-weight: 400;
   line-height:171%;
   color: var(--text-button-color);
}




/* this is portfolio  */
.filter{
   list-style-type: none;
}

.portfolio-button{
font-size: 16px;
font-weight: 500;
line-height:162%;
letter-spacing: 0.48px;
}
.portfolio-list{
   list-style-type: none;
}
.portfolio-description{
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.48px;
   line-height:187%;
   color: var(--abouttext-color);
}
.portfolio-title{
   font-size: 18px;
   font-weight: 700;
   line-height:200%;
   color: var(--nav-color);
}